@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --gradient-1: #3a4fd6;
  --gradient-2: #ce4db6;
  --gradient-3: #ae93f0;
  --gradient-4: #1289cd;
  --gradient-5: #1bbbd2;
}
